@import "tailwindcss";

:root {
  --font-sans: 'Poppins', sans-serif;
}

body {
  background-color: #FFFAFA;
  font-family: var(--font-sans);
}
@theme {
  --color-chestnut-500:#FFFFFF;
  
}

@layer components{
    .card {
        @apply bg-white p-6 rounded-2xl shadow-md mb-6  transition-all duration-300;
    }
    .card-heading {

        @apply flex justify-center text-xl font-semibold text-blue-600 border-b pb-2 mb-3;
    }
}