@import "tailwindcss";

:root {
  --font-sans: 'Poppins', sans-serif;
}
@theme {
  --color-main-500: oklch(0.6529 0.1603 177.88);
  
  --color-topbar: oklch(0.4963 0.008 53.33);


  --color-bg-400: oklch(0.8784 0.018 81.33);
  --color-bg-500: oklch(0.9437 0.0086 84.57);
}

body {
  background-color: var(--color-gray-900);
  font-family: var(--font-sans);
}



@layer components{
    .card {
        @apply bg-white p-6 rounded-2xl shadow-md mb-6  transition-all duration-300;
    }
    
    .card-heading {

        @apply flex justify-center text-xl font-semibold text-main-500 border-b pb-2 mb-3;
    }
}